html {text-align: center}
body {background: powderblue}
.checkbox {margin: 2em}
.drop {margin: 2em auto; align-items: center}
.graph {align-items: center; alignment: center; align-content: center; align-self: center; text-align: center}